.contact-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  margin-top: 20px;
  max-height: 700px;
  overflow: hidden;
  overflow-y: scroll;
  width: 50vw;
}

.contact-list-container{
  width: 100%;
}

.search-container{ 
margin-bottom: 20px;}

.search-input
{
  padding: 10px;
  color: #000;
  background-color: rgb(255, 253, 127);
}
.search-input:focus{
  outline: none;
}

.no-contacts {
  text-align: center;
  color: #666;
  font-style: italic;
  padding: 40px;
}

@media (max-width: 950px) {
  .contact-list {
    grid-template-columns: 1fr;
    gap: 12px;
    width:80%;
   margin: 0 auto;

  }
}